.main-table {
    width: 100%;
    border-collapse: collapse;
}

.main-table th,
.main-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.main-table th {
    cursor: pointer;
    background-color: #f2f2f2;
}

.main-table tr:hover {
    background-color: #ddd;
}